// color variables
$dark-blue: #004360;
$pink: #ff8d8f;
$darker-pink: #e3817d;
$cian: #57ced3;
$green: #7cc038;
$grey: #7d807b;
$light-grey: #f2f2f2;
$dark-grey: #333333;
$black: #2b2b2b;
$grey-white: #e4e9ef;
$half-white: #f5f6f7;
$background: #c8d3d6;
$dark-cian: #11bcc3;

$grey-seven: #777777;

$login-color: #163a4f;
