
:root{
    --primary-color: #0b7cbb;
    --primary-color-light: rgb(60, 150, 201);
    --color-dark-grey: #34515e;
    --color-light-grey: #8eacbb;
    --color-dark-red: #d50000;
    --color-light-red:#ff5131;
    --font-condensed : 'Roboto Condensed', sans-serif;
}
html {
    font-size: 14px;
}
body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.form-group {
    font-family: 'Roboto', sans-serif;
    text-align:center;
}
.form-control .btn-default {
    background: #ebf4fa;
    text-align:left;
}
.heading {
    padding: 45px 0px 35px;    
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}
.heading-label {
    line-height: 14px;
    padding: 0px 0px 5px;    
}

.logo {     
    background-image: url('../img/ESA_logo.PNG');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 140px;
    height: 140px;
    animation: fade-in 2s;
}

p {
    font-size: 30px;
    font-weight: 700;
}

footer {
    padding: 35px 0px 0px;  
    background-color: #0b7cbb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding-bottom: 40px; */
    color: #fff;
}

.help-block {     
    padding: 3px 1px 0px;      
    text-align: left;
    color: #fff;
}

.verify-wrap {
    padding: 25px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#forgotten {
    padding: 25px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#restore {
    padding-top: 35px;
}

.reveal {
    cursor: pointer; 
}

@-webkit-keyframes fade-in {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fade-in {
    from {opacity: 0;}
      to {opacity: 1;}    
}

/** Styles ***/
.page-container{
    min-height: 90vh;
    padding: 0px 25px;
}
.form-wrapper{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}
.form-group{
    margin-bottom: 10px;
}
.form-control{
    height: 40px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: var(--primary-color-light);
    color: #fff;
}
.page-heading, .section-heading-small{
    font-family: var(--font-condensed);
    font-weight: bold;
}
.page-heading{
    font-size: 30px; 
    margin: 0 0 10px 0;
}
.section-heading-small{
    font-size: 24px;
    margin: 0 0 20px 0;
}
.body-copy{
    font-size:16px;
    font-weight: normal;
}
.page-header-section{
    padding: 40px 0px 25px 0px;
    text-align: center;
}
.page-header-section .logo{
    height: 120px;
    width: 120px;
}
.btn{
    border-radius: 0;
    transition: all .3s ease-in-out;
}
.btn:hover, .btn:focus{
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
}
.btn:focus{
    border: none;
    outline: none!important;
}
.btn-large{
    background-color: #fff;
    color: #000;
    border: none;
    width: 100%;
    max-width: unset;
    min-height: 50px;
    font-size: 15px;
    font-weight: 300;
}
.link-primary{
    color: #fff;
    text-decoration: underline;
}
.form-control::placeholder{ 
    color: var(--color-dark-grey);
    opacity: 1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--color-dark-grey);
}
.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--color-dark-grey);
}
.form-input-group{
    margin-top: 20px;
}
.content-center{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin:0 auto;
}
.snippet{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border:1px solid #fff;
    padding: 10px;
    font-size: 14px;
    max-width: 600px;
}
.snippet.snippet-hint{
    background: url("../img/bulb.svg") no-repeat 10px 10px;
    padding-left: 40px;
    background-size: 20px;
}
.snippet-error{
    border-color: var(--color-light-red);
}
.snippet p{
    font-size: 14px;
    margin-bottom:0;
    font-weight: normal;
}
.snippet-heading{
    font-size: 16px;
    margin:0 0 10px 0;
}
.snippet ul{
    padding-left:30px;
}
.m-t-30{
    margin-top: 30px;
}
.p-r-5{
    padding-right: 5px;
}
.p-r-10{
    padding-right: 10px;
}
.text-bold{
    font-weight: bold;
}