.main-wrapper,
.main {
  min-height: 100vh;
  position: relative;
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba($grey, 0.2);
  outline: 1px solid slategrey;
}
